body {
    font-family: Arial, sans-serif;
    width:80%;
    margin: 0 auto;
    /* background-color:lightgrey; */
}

h2{
    margin:20px;
}

#searchFilterDiv{
    float:left;
}

#genreSelectDiv{
    float:right;
}


#low-stock-list td:nth-child(4){
    color:red;
    font-weight:bold;
}